* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-image: url(./assets/img/bodybackground.gif);
    background-size: cover;
}

#header-name {
    min-height: 70px;
    background-color: lightgrey;
    border-bottom: 1px solid rgb(159, 156, 156);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2em 0 2em;
}

#card-parent {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.5em;
    margin: 1.5em 1.5em 0 1.5em;
}

.card {
    display: inline-block;
    border: 1px solid rgb(159, 156, 156);
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    background-color: grey;
    min-width: 250px;
    transition: all 2s ease;
}

.card:hover {
    transform: scale(1.05);
}

.img-card {
    width: 100%;
    border-radius: 30px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.text-section {
    padding: 10px;
}

.likeButton {
    cursor: pointer;
}

.likeButton.liked {
    color: #e74c3c;
}

.likeCount {
    font-size: 18px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
 }

.modal-content {
    background-color: #fefefe;
    margin: 13% auto;
    padding: 30px;
    width: 80%;
    border: 1px solid #888;
    border-radius: 35px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 50px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-playlist-info{
    display: flex;
    margin: 1.5em 1.5em 1.5em 1.5em;
}

.modal-playlist-img{
    max-height: 200px;
    max-width: 200px;
    margin: 10px;
    border-radius: 25px;
}

.modal-playlist-info-txt{
    margin-left: 30px;
}

.modal-each-song{
    display: flex;
    border: solid black 1px;
    border-radius: 5px;
}

.modal-song-parent-div {
    display: flex;
    align-items: center;
    width: 100%;
}

.modal-each-song-img{
    height: 100px;
    width: 100px;
    margin: 10px;
}

.modal-each-song-desc {
    flex: 1;
}

.modal-song-time {
    margin-left: auto;
    padding: 0 10px;
}


#search-input{
    width: 250px;
    height: 25px;
}

#shuffle-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#shuffle-button:hover {
    background-color: #45a049;
}

.featured-title {
    text-align: center;
}

.featured-main {
    display: flex;
    margin: 16px;
    gap: 2em;
}

.featured-main2 {
    display: flex;
    padding: 20px;
}

.featured-left {
    flex: 1;
    align-items: center;
}

.featured-img-left {
    max-width: 100%;
    border-radius: 20px;
    margin-bottom: 20px;
}

.featured-right {
    flex: 2;
    padding: 20px;
}

.featured-right ul {
    list-style-type: none;
    padding: 0;
}

.featured-right li {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.featured-right li img {
    margin-right: 10px;
    border-radius: 10px;
}

#add-playlist-form {
    margin: 20px;
    padding: 20px;
    background-color: lightgrey;
    border-radius: 10px;
}

#add-playlist-form h2 {
    margin-bottom: 20px;
}

#add-playlist-form label {
    display: block;
    margin-top: 10px;
}

#add-playlist-form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#add-song-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
}

#add-song-button:hover {
    background-color: #45a049;
}

#new-playlist-form button[type="submit"] {
    background-color: #008CBA;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#new-playlist-form button[type="submit"]:hover {
    background-color: #007B9A;
}

/* #sort-options {
    float: right;
} */

add.card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #add;
    cursor: pointer;
    font-size: 48px;
    color: #555;
}

add-card:hover {
    background-color: #ccc;
}

.plus-icon {
    font-size: 48px;
}

#add-playlist-form {
    margin: 20px;
    padding: 20px;
    background-color: lightgrey;
    border-radius: 10px;
}

#add-playlist-form label {
    display: block;
    margin-top: 10px;
}

#add-playlist-form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#add-song-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
}

#add-song-button:hover {
    background-color: #45a049;
}

#new-playlist-form button[type="submit"] {
    background-color: #008CBA;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#new-playlist-form button[type="submit"]:hover {
    background-color: #007B9A;
}
